.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
body{
    background-color: #27292E;
}
/* header */
header{
    /* border: 1px solid green; */
    padding: 22px 100px;
    /* padding: 5px 100px; */
    background: #27292E;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(31,32,36,1);
    transition: all 0.5s;
    position: fixed;
    width: 100%;
    top:0;
}
header.changePadding{
    padding:6px 100px;
    box-shadow: 0px 7px 6px 0px rgba(31,32,36,1);
}
.logo{
    /* border:1px solid red; */
    float: left;
    font-size: 30px;
    line-height: 35px;
    font-family: Franklin Gothic Heavy;
    padding: 5px 0;
    cursor: pointer;
}
.logo span:nth-child(1){
    color: #E8676B;
}
.logo span:nth-child(2){
    color: #9A9DA2;
}
.header-ul{
    float: right;
    /* border:1px solid red; */
    line-height: 35px;
    font-size: 14px;
    color: #9A9DA2;
}
.header-ul li{
    float: left;
    margin-left: 45px;
    cursor: pointer;
    /* padding: 12.5px 0; */
}
.header-ul li::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: #E8676B;
    border-radius: 5px;
    transition: all 0.3s;
}
.header-ul li::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: transparent;
}
.header-ul li:hover::after{
    width: 100%;
}
.header-ul li.actived::after{
    width:100%;
}
header .menu{
    float: right;
    border: 1px solid #4D4C51;
    margin-left: 45px;
    width: 45px;
    height: 45px;
    /* text-align: center; */
    position: relative;
    cursor: pointer;
}
header .menu > .menu-inner{
    width:25px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -9px;
}
header .menu > .menu-inner img{
    width: 100%;
    height: 100%;
}

/* about me && main */

main{
    /* margin-top:10px; */
    padding: 0 15px;
}
main > .aboutMe{
    max-width: 930px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-sizing: border-box;
    margin-top:208px;
    background-color: #35363B;
    margin-bottom: 60px;
}
.aboutMe > .aboutMe-top{
    width: 100%;
    padding: 57px 50px 15px;
    box-sizing: border-box;
}
main >.aboutMe>.aboutMe-top .avatar{
    width: 37.7%;
    float: left;
}
.aboutMe>.aboutMe-top>.avatar img{
    max-width: 100%;
}
.aboutMe>.aboutMe-top>.introduce{
    float: right;
    width: 55.7%;
}
.aboutMe > .aboutMe-top > .introduce >h1,
.aboutMe > .aboutMe-top > .introduce >p{
    color: #D4D4D5;
}
.introduce > hr{
    display: block;
    height: 0;
    border:0;
    border-top:1px solid #47494C;
    margin:28px 0 32px;
}
.introduce >dl >dt{
    float: left;
    width: 50%;
    color: #D4D4D5;
    margin-bottom: 24px;
}
.introduce >dl >dd{
    float: right;
    width: 50%;
    color:#82878C;
    margin-bottom: 24px;
}
.aboutMe > .media{
    background-color: #E8676B;
    text-align: center;
}
.aboutMe > .media ul{
    display: inline-block;
    font-size: 20px;
    margin:23px 0;
    /* border: 1px solid; */
    vertical-align: top;
}
.aboutMe > .media ul li{
    float: left;
    margin-left: 80px;
}
.aboutMe > .media ul li:nth-child(1){
    margin-left: 0;
}
.aboutMe > .media ul li >a{
    display: block;
    /* border: 1px solid red; */
    padding:7.8px 10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.media ul li a:hover{
    background-color: #D05C60;
}

/* portfolio */
main > .myPortfolio{
    margin-top:208px;
}
.myPortfolio> h1{
    color: #7C7D82;
    text-align: center;
}
.myPortfolio > .wrapper{
    max-width: 930px;
    margin: 0 auto;
    font-size: 0;
    overflow: hidden;
    /* border: 1px solid red; */
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.wrapper >.wrapper-cover{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}
.wrapper > .pageTurning{
    position: absolute;
    width:58px;
    height: 58px;
    border:none;
    cursor: pointer;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: #27292E;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.7);
}
.wrapper > .pageTurning:focus{
    outline: none;
}
.wrapper > .pageTurning:hover{
    background-color: rgba(255, 255, 255, 0.5)
}
.wrapper >.previous{
    top:20px;
    right:20px;
}
.wrapper >.next{
    top:98px;
    right: 20px;
}
.wrapper > .wrapper-inner{
    width:5580px;
    height: 100%;
    transition: all 0.3s;
}
.myPortfolio > .wrapper .slip{
    width:930px;
    height: 100%;
    display: inline-block;
    transition: all 0.3s;
    /* border:1px solid red; */
}
/* .myPortfolio > .wrapper .slip:nth-child(6){
    max-width: 100%;
    background:url('https://rscard.px-lab.com/actor/wp-content/uploads/sites/6/2015/12/portfolio-thumb-09-610x600-1-2-2-1-1-1-610x473.jpg')center/100% 100% no-repeat;
} */
.myPortfolio > .wrapper .slip:nth-child(1){
    /* max-width: 100%; */
    background:url('https://rscard.px-lab.com/actor/wp-content/uploads/sites/6/2015/12/portfolio-thumb-09-610x600-1-2-2-1-1-1-610x473.jpg')center/100% 100% no-repeat;
}
.myPortfolio > .wrapper .slip:nth-child(2){
    /* max-width: 100%; */
    background:url('https://rscard.px-lab.com/actor/wp-content/uploads/sites/6/2015/12/portfolio-thumb-06-289x281-1-2-2-1-1-1.jpg')center/100% 100% no-repeat;
}
.myPortfolio > .wrapper .slip:nth-child(3){
    /* max-width: 100%; */
    background:url('https://rscard.px-lab.com/actor/wp-content/uploads/sites/6/2015/12/rs-thumb-610x396-1-2-2-1-1-1.jpg')center/100% 100% no-repeat;
}
.myPortfolio > .wrapper .slip:nth-child(4){
    /* max-width: 100%; */
    background:url('https://rscard.px-lab.com/actor/wp-content/uploads/sites/6/2015/12/portfolio-thumb-03-610x600-1-2-2-1-1-1-610x473.jpg')center/100% 100% no-repeat;
}
.myPortfolio > .wrapper .slip:nth-child(5){
    /* max-width: 100%; */
    background:url('https://rscard.px-lab.com/actor/wp-content/uploads/sites/6/2015/12/portfolio-thumb-09-610x600-1-2-2-1-1-1-610x473.jpg')center/100% 100% no-repeat;
}
@media(min-width:992px){
    .myPortfolio > .wrapper{
        height: 473px;
    }
}
@media(max-width:991px) and (min-width:767px){
    .myPortfolio > .wrapper{
        height: 430px;
    }
}
@media(max-width:768px){
    .myPortfolio > .wrapper{
        height: 340px;
    }
    .wrapper > .pageTurning{
        width: 40px;
        height: 40px;
    }
    .wrapper > .next{
        top:80px;
    }
}

/* resume */
main > .experience>.workExperience{
    max-width: 930px;
    margin:0 auto;
    margin-top:208px;
    position: relative;
}
.experience>.workExperience > h1{
    color: #7C7D82;
    text-align: center;
    margin-bottom: 40px;
}
.experience>.workExperience > .line{
    height: 332px;
    width:5px;
    border-radius: 3px;
    background-color: #4E3439;
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
    margin-top:60px;
}
.workExperience > .time{
    width: 46%;
    position: relative;
    background-color: #35363B;
    border-top:5px solid #E8676B;
    text-align: center;
    box-sizing: border-box;
    padding:20px;
    padding-bottom: 50px;
    color:#7F8082;
    margin-top:20px;
    box-shadow: 0px 0px 8px -1px rgba(30,32,36,1);
}
.experience>.workExperience > .time > .dot{
    position: absolute;
    width:10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    background-color: #E8676B;
}
.workExperience > .time > .time-inner >.period{
    color: #DD6367;
    /* margin-top:20px; */
}
.workExperience > .time > .time-inner >.post{
    color:#7F8082;
    margin:50px 0 30px;
}
.workExperience > .timeLeft{
    float: left;
}
.workExperience > .timeRight{
    float: right;
}
.workExperience > .rightFirst{
    margin-top:60px;
}
.workExperience > .leftFirst{
    margin-top:0px;
}
.workExperience > .time > .dotLeft{
    right: -9.8%;
    top:55px;
}
.workExperience > .time > .dotRight{
    left:-9.8%;
    top:60px;
}
.workExperience > .time > .triangle{
    display: inline-block;
    width:20px;
    height: 0;
    border:20px solid transparent;
    position: absolute;
}
.workExperience > .time >.leftTriangle{
    border-left: 20px solid #35363B;
    right:-14%;
    top:40px;
}
.workExperience > .time >.rightTriangle{
    border-right: 20px solid #35363B;
    left:-14%;
    top:45px;
}
/* 教育经历 */


